header {
  height: 75px;
  width: 480px;
  text-align: center;
}

#featured-section {
  height: 150px;
}

.sub-section {
  height: 125px;
  border: 1px solid #000;
}

.inline-section:nth-child(even) {
  float: right;
}

.inline-section {
  display: inline-block;
  width: 50%;
  height: 250px;
  border: 1px solid #000;
  box-sizing: border-box;
}

footer {
  height: 80px;
}

@media (min-width: 768px) {
}
