/* Breakpoints
mobile: 768
tablet: 768-960
desktop: 960 */

@media (min-width: 960px) {
  header p {
    height: 100px;
  }

  main #sidebar {
    display: inline-block;
    height: 600px;
    width: 200px;
  }

  .featured-wrapper {
    display: flex;
    box-sizing: border-box;
  }

  .featured,
  .featured1 {
    width: 380px;
    height: 200px;
    box-sizing: border-box;
  }
}
