/* mobile background colors */
.sub-section:nth-child(3) {
  background-color: #f59fa7;
}

.sub-section:nth-child(2) {
  background-color: #f5f59f;
}

.inline-section:nth-child(1) {
  background-color: #f5c59f;
}

.inline-section:nth-child(2) {
  background-color: #afafaf;
}

.inline-section:nth-child(3) {
  background-color: #8ef3c4;
}

.inline-section:nth-child(4) {
  background-color: #b6f38e;
}
